

.bw-text-link {
    color: #404040;
    font-weight: bold;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }

  .main-container {
    padding-top: 20px;
    width: 98%;
    padding-bottom: 20px;
  }
  


  .border-none {
    border: none;
    text-decoration: none;
}

p-button, button {
  box-shadow: none;
}
p-button.p-stepper-action :focus, p-button.p-stepper-action :hover, button.p-stepper-action :focus, button.p-stepper-action :hover {
  background-color: transparent;
}


tbody > tr > td {
  padding: 0.5rem;
}
@media (max-width: 600px) {
  .responsive-icon-button .p-button-label {
      display: none;
  }
}

.p-field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.my-custom-table .p-datatable {
  border: 1px solid #000; /* Cambia el color y el grosor según tus necesidades */
  border-radius: 4px; /* Opcional: Añade esquinas redondeadas */
}


.font-weight-bold {
  font-weight: bold !important;
}