.center-items .p-menuitem {
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.menu-item {
  margin-right: 10px;
  /* Ajusta el espaciado entre elementos si es necesario */
}

.p-menubar .p-menuitem-link {
  text-decoration: none !important;
}

/* Estilos personalizados para el menú */
.custom-menubar {
  position: absolute;
}


:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-text { 
  color: #000 !important; 
} 
:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-icon { 
  color: #000 !important; 
} 
:host ::ng-deep .p-menu .p-submenu-header{ 
  color: #000 !important; 
  background: #0da350 !important; 
} 
:host ::ng-deep .p-menu{ 
  position: absolute;
  width: 250px; /* Establece el ancho según tus necesidades */
  height: 100%; /* O establece una altura fija si es necesario */
  background: #0da350 !important; 
  background-color: #333;
  /* Cambia el color de fondo del menú */
  color: #fff;
  /* Cambia el color del texto en el menú */
} 
:host ::ng-deep .p-menu .p-menuitem-link:focus,  
.p-menu .p-menuitem-link:hover{ 
  background: white !important; 
} 
:host ::ng-deep .p-menu .p-menuitem-link:focus{ 
  box-shadow: 0 0 0 0.1rem white !important; 
}

.custom-menubar .p-menuitem {
  color: #333;
  font-weight: bold;
}

.kfc-menuitem {
  /* KFC brand color palette */
  background-color: #EA0029;
  /* Cherry Red */
  color: #FFFFFF;
  /* White */
  padding: 10px 15px;
  /* Example padding */
  border-radius: 5px;
  /* Example rounded corners */
  text-decoration: none;
  /* Remove underline */
}

.kfc-menuitem:hover {
  background-color: #F44336;
  /* Darker Cherry Red on hover */
}

.icon-wrapper {
  display: inline-block;
  border-radius: 50%;
  background-color: #ff3d23;
  color: black;
  padding: 10px;
  margin-right: 5px;
  /* Ajusta el tamaño del círculo según el contenido */
  width: 40px; /* Cambia según sea necesario */
  height: 40px; /* Cambia según sea necesario */
  /* Centra el contenido dentro del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
}

