/* Imports PrimeIcons */
@import "primeicons/primeicons.css";

/* Colors KFC */
$kfc-color-gray-login: #f8f8f8;
$kfc-color-gray-light: #f7f7f7;
$kfc-color-orange: #ff6900;
$kfc-color-blue: #009CA6;
$kfc-color-gray: #404040;
$kfc-color-dark-gray: #e8e8e8;
$kfc-color-violet: #5f259f;
$kfc-color-footer: #f8f8f9;
$kfc-color-hr: #dcdcdc;
$kfc-color-th: #ffe8d8;
$kfc-color-black: #3d3d3d;
$kfc-color-light-black: #646464;